.status-label {
  background-color: $grey-1;
  color: $white;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 3em;
  padding: 5px;
  text-transform: uppercase;
  width: auto;
}

.status-label--primary {
  background-color: $govuk-blue;
}

.status-label--danger {
  background-color: $mellow-red;
}

.status-label--warning {
  background-color: $brown;
}

.status-label--success {
  background-color: $grass-green;
}
