@import 'colours';
$white-transparent: rgba(255, 255, 255, .3);

.key-details-bar {
  background-color: $govuk-blue;

  .key-details-bar__key-details {
    margin: 0 auto;
    max-width: 960px;
    padding: 30px;
    position: relative;

    * {
      color: $white;
    }

    .key-details-bar__top-block,
    .key-details-bar__bottom-block {
      &::after {
        clear: both;
        content: ' ';
        display: block;
      }
    }

    .key-details-bar__bottom-block {
      border-top: 1px solid $white-transparent;
      content: ' ';
      padding-top: 10px;
      @media(max-width: 670px) {
        border: 0;
      }
    }

    dd,
    dt {
      float: left;
      @media(max-width: 670px) {
        float: none;
      }
    }

    dd {
      margin-right: 20px;
      @media(max-width: 670px) {
        margin-bottom: 20px;
      }
    }

    .key-details-bar__name {
      font-size: 36px;
      font-weight: 700;
      @media(max-width: 670px) {
        line-height: 1;
        margin: 0;
      }
    }

    .key-details-bar__nino {
      font-size: 24px;
      margin-right: 0;
      margin-top: 14px;
      @media(max-width: 670px) {
        margin: 0;
      }
    }

    .key-details-bar__status {
      background-color: $white;
      color: $govuk-blue;
      float: right;
      font-weight: 700;
      margin-top: 10px;
      padding: 5px;

      text-transform: uppercase;
      @media(max-width: 670px) {
        float: none;
        margin-top: 0;
      }
    }
  }
}