<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <dd class="visually-hidden">Name:</dd>
    <dt class="key-details-bar__name">Jane Doe</dt>

    <dd class="visually-hidden">National Insurance number:</dd>
    <dt class="key-details-bar__nino">QQ123456X</dt>

    <dd class="visually-hidden">Claim status:</dd>
    <dt class="key-details-bar__status">Complete</dt>

    <dd>Appointee:</dd>
    <dt><a href="#">Richard Roe</a></dt>

    <dd>Partner:</dd>
    <dt><a href="#">John Doe</a></dt>

    <dd class="visually-hidden">Language:</dd>
    <dt>Welsh speaker</dt>
  </dl>
</section>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      
      <h1 class="visually-hidden">Claim details: Jane Doe</h1>

    </div>
  </div>   
</main>
