<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <dt class="visually-hidden">Name:</dt>
      <dd class="key-details-bar__name">Jane Doe</dd>

      <dt class="visually-hidden">National Insurance number:</dt>
      <dd class="key-details-bar__nino">QQ123456X</dd>

      <dt class="visually-hidden">Claim status:</dt>
      <dd class="key-details-bar__status">Complete</dd>
    </div>

    <div class="key-details-bar__bottom-block">
      <dt>Appointee:</dt>
      <dd><a href="#">Richard Roe</a></dd>

      <dt>Partner:</dt>
      <dd><a href="#">John Doe</a></dd>

      <dt class="visually-hidden">Language:</dt>
      <dd>Welsh speaker</dd>
    </div>
  </dl>
</section>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      
      <h1 class="visually-hidden">Claim details: Jane Doe</h1>

    </div>
  </div>   
</main>
